body {
    font-family: Arial;
    margin: 40px;
}

textarea {
    width: 100%;
    height: 150px;
}

button {
    margin-top: 10px;
    padding: 10px;
}

#output {
    background: #f2f2f2;
    padding: 15px;
}